@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root{
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  margin: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 0.1px)
}




.wrapper {
  background-color: var(--dark-blue);
  
  border-radius: 2rem;
  padding: 1.25rem;
}

.title  {
  color: var(--white);
  padding: 1em 0 0 0;
}


.text  { 
  color: var(--light-grey);
  margin-bottom: 15px;
}

.star {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 15px 0;
  border-radius: 80px;
  background-color: var(--very-dark-blue);
  margin-bottom: 30px;

}


.ratingDiv {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  width: 100% ;
  height: 30px;
  border-radius: 15px;
}

.submit-button {
  background-color: var(--orange);
}

.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  width: 300px;
  border-radius: 2rem;
  padding: 1.25rem;
  align-items: center;
  text-align: center;
}

.you-selected {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 30%);
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 30px;
}
.thanks {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

@media (min-width: 500px ) {
  .wrapper {
    width: 400px;
  }
}


